@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif, Arial, Helvetica !important;
}

.dark-color {
  color: #1d1d1d;
}

.dark-bg {
  background-color: #1d1d1d;
}

.btn {
  @apply py-3 px-8 rounded-3xl border font-medium;
}

.mod-container {
  @apply container md:px-28 mx-auto;
}

.home-card {
  @apply shadow-xl rounded-3xl flex items-center justify-center flex-col;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.input-group label {
  @apply font-normal text-xl;
}

.input-group input {
  @apply focus:outline-none border-2 border-gray-900 max-w-xl py-2 rounded-3xl mt-1 px-4;
}
